In [1]:
import pandas as pd
from math import ceil
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [204]:
i = "socl_full-holdings_20220722"
kotae = pd.read_csv("答え/" + i + ".csv", header=2)

In [225]:
asd = "social-media_fasttext"
result = pd.read_csv("fasttext_result/" + asd + "_sum.csv")

In [226]:
result["Answer"] = 0
result["Output"] = 0
result = result.rename(columns={result.columns[0] : 'Rick', result.columns[1] : 'Score'})
result["Ticker"] = result["Rick"].str.split('.', expand=True).iloc[:, 0]
result.iloc[0:len(kotae["Ticker"].dropna()), 3] = 1

In [227]:
for i in list(kotae["Ticker"].dropna()):
    result.loc[result["Ticker"] == i, 'Answer'] = 1

In [228]:
# # 実際が正かつ予測が正(tp)
# tp = result.query('Answer == 1 and Output == 1')
# print('tp:', len(tp))
# # 実際が正かつ予測が負(fn)
# fn = result.query('Answer == 1 and Output == 0')
# print('fn:', len(fn))
# # 実際が負かつ予測が正(fp)
# fp = result.query('Answer == 0 and Output == 1')
# print('fp:', len(fp))
# # 実際が負かつ予測が負(fn)
# fn = result.query('Answer == 0 and Output == 0')
# print('fn:', len(fn))
cm = confusion_matrix(result["Answer"], result["Output"])
print(cm)
print('正解率', accuracy_score(result["Answer"], result["Output"]))
print('適合率:', precision_score(result["Answer"], result["Output"]))
print('再現率:', recall_score(result["Answer"], result["Output"]))
print('F1:', f1_score(result["Answer"], result["Output"]))

[[3899   42]
 [  11    2]]
正解率 0.9865958523014668
適合率: 0.045454545454545456
再現率: 0.15384615384615385
F1: 0.07017543859649122

In [229]:
result.to_csv("fasttext_result/" + asd + "_sum.csv")

In [230]:
k = len(result[result["Answer"] == 1])

In [231]:
# top点
result[result["Answer"] == 1].head(1)

     Rick     Score  Answer  Output Ticker
1  SPT.OQ  0.000636       1       1    SPT

In [232]:
# 50%点
result[result["Answer"] == 1].head(ceil(k * 1/2)).tail(1)

       Rick     Score  Answer  Output Ticker
395  PINS.N  0.000034       1       0   PINS

In [233]:
# 80%
result[result["Answer"] == 1].head(ceil(k * 0.8)).tail(1)

         Rick     Score  Answer  Output Ticker
822  GOOGL.OQ  0.000017       1       0  GOOGL

In [234]:
# 100%点
result[result["Answer"] == 1].head(ceil(k)).tail(1)

         Rick     Score  Answer  Output Ticker
1129  ANGI.OQ  0.000011       1       0   ANGI