In [1]:
import os
import nltk
import re
from nltk.corpus import stopwords
from tqdm.auto import tqdm
import glob
import pandas as pd
import pymysql
import line
import sqlalchemy as sa
import collections
import srsql
from sqlalchemy import create_engine
from nltk.stem import SnowballStemmer

# 単語一覧

In [27]:
path = "C:\\Users\\SR\\Python\\m1\\w2v\\text\\text_f10_10.txt"

In [28]:
with open(path, encoding='utf_8') as f:
    text = f.read()

In [29]:
text = text.replace("\n", " ").split(' ')
text = set(text)

## テーブル作成

In [31]:
# word_listという名前のtable(?)の作成
connection = srsql.srsql('10years')

sql = '''CREATE TABLE word_list (
        word_id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        word varchar(255))'''

with connection:
    with connection.cursor() as cur:
        cur.execute(sql)
        connection.commit()

## 作成

In [32]:
# 単語とidの１対１対応リストの作成
connection = srsql.srsql('10years')

num = 1
for i in tqdm(text):
    with connection.cursor() as cursor:
        sql = "INSERT INTO `word_list` (`word_id`, `word`) VALUES (%s, %s)"
        r = cursor.execute(sql, (num, i))
        # autocommitではないので、明示的にコミットする
        connection.commit()
    num += 1
line.line('単語入れ終わり')

  0%|          | 0/299969 [00:00<?, ?it/s]

# 単語数

In [33]:
path = 'C:\\Users\\SR\\python\\f10_10\\com_text_-5\\*.txt'

In [34]:
l = glob.glob(path)

## テーブル作成

In [35]:
# countという名前のtableの作成
connection = srsql.srsql('10years')

sql = '''CREATE TABLE count (
        word varchar(255),
        count int(11) NOT NULL,
        company varchar(255))'''

with connection:
    with connection.cursor() as cur:
        cur.execute(sql)
        connection.commit()

## 作成

In [36]:
connection = srsql.srsql('10years')
engine = create_engine("mysql://root:123456@localhost:3306/10years?charset=utf8")

for i in tqdm(l):
    comp = os.path.splitext(os.path.basename(i))[0]
    with open(i, mode='r') as f:
        text = f.read()
        text = text.replace('\n', ' ').split(' ')
        text = collections.Counter(text)
        df = pd.DataFrame(list(text.items()), columns=['word', 'count'])
        df['company'] = comp
        df.to_sql("count", engine, index=False, if_exists='append')

  0%|          | 0/4771 [00:00<?, ?it/s]

# 企業ごとの単語数

In [22]:
connection = srsql.srsql('10years')
sql = "SELECT * FROM company_list"
with connection:
    with connection.cursor() as cur:
        cur.execute(sql, ())
        c_result = cur.fetchall()
df = pd.DataFrame(c_result)

In [3]:
connection = srsql.srsql('10years')
sql = "SELECT * FROM count"
with connection:
    with connection.cursor() as cur:
        cur.execute(sql, ())
        c_result = cur.fetchall()
df_c = pd.DataFrame(c_result)

In [4]:
del c_result

In [23]:
df["sum"] = 0
for i in tqdm(range(len(df["company"]))):
    comp = df.iloc[i, 1]
    count = df_c[df_c["company"] == comp]["count"].sum()
    df.iat[i, 2] = count

  0%|          | 0/4771 [00:00<?, ?it/s]

In [24]:
# countという名前のtableの作成
connection = srsql.srsql('10years')

sql = '''CREATE TABLE company (
        id int(11) NOT NULL, 
        company varchar(255),
        sum int(11) NOT NULL)'''

with connection:
    with connection.cursor() as cur:
        cur.execute(sql)
        connection.commit()

In [25]:
connection = srsql.srsql('10years')
engine = create_engine("mysql://root:123456@localhost:3306/10years?charset=utf8")

df.to_sql("company", engine, index=False, if_exists='append')

4771