In [2]:
import pandas as pd
from math import ceil
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [3]:
i = "snsr_full-holdings_20220722"
kotae = pd.read_csv("答え/" + i + ".csv", header=2)

In [4]:
asd = "iot_fasttext_sum"
result = pd.read_csv("result/" + asd + ".csv")

In [5]:
result["Answer"] = 0
result["Output"] = 0
result = result.rename(columns={result.columns[0] : 'Rick', result.columns[1] : 'Score'})
result["Ticker"] = result["Rick"].str.split('.', expand=True).iloc[:, 0]
result.iloc[0:len(kotae["Ticker"].dropna()), 3] = 1

In [6]:
for i in list(kotae["Ticker"].dropna()):
    result.loc[result["Ticker"] == i, 'Answer'] = 1

In [7]:
# # 実際が正かつ予測が正(tp)
# tp = result.query('Answer == 1 and Output == 1')
# print('tp:', len(tp))
# # 実際が正かつ予測が負(fn)
# fn = result.query('Answer == 1 and Output == 0')
# print('fn:', len(fn))
# # 実際が負かつ予測が正(fp)
# fp = result.query('Answer == 0 and Output == 1')
# print('fp:', len(fp))
# # 実際が負かつ予測が負(fn)
# fn = result.query('Answer == 0 and Output == 0')
# print('fn:', len(fn))
cm = confusion_matrix(result["Answer"], result["Output"])
print(cm)
print('正解率', accuracy_score(result["Answer"], result["Output"]))
print('適合率:', precision_score(result["Answer"], result["Output"]))
print('再現率:', recall_score(result["Answer"], result["Output"]))
print('F1:', f1_score(result["Answer"], result["Output"]))

[[3423   49]
 [  31    9]]
正解率 0.9772209567198178
適合率: 0.15517241379310345
再現率: 0.225
F1: 0.1836734693877551

In [38]:
result.to_csv("result/" + asd + ".csv")

In [8]:
k = len(result[result["Answer"] == 1])

In [9]:
# top点
result[result["Answer"] == 1].head(1)

       Rick     Score  Answer  Output Ticker
10  QCOM.OQ  0.048621       1       1   QCOM

In [10]:
# 50%点
result[result["Answer"] == 1].head(ceil(k * 1/2)).tail(1)

        Rick     Score  Answer  Output Ticker
204  AMBA.OQ  0.014881       1       0   AMBA

In [11]:
# 80%
result[result["Answer"] == 1].head(ceil(k * 0.8)).tail(1)

      Rick     Score  Answer  Output Ticker
737  EMR.N  0.003847       1       0    EMR

In [12]:
# 100%点
result[result["Answer"] == 1].head(ceil(k)).tail(1)

      Rick     Score  Answer  Output Ticker
1377  ST.N  0.001242       1       0     ST